* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  height: 55px;
  background-color: #f55a5a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001a;
}

nav > img {
  padding-right: 4px;
}

.card--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 650px;
  display: flex;
  font-size: 10px;
  padding: 40px;
  flex: 0 0 auto;
}

.card:not(:last-child) {
  border-bottom: 1px solid #000;
}

.card--right {
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card--img {
  width: 160px;
  max-width: 300px;
  height: 100%;
}

.card--right--location {
  display: flex;
  align-items: center;
}

.card--right--location_img {
  width: 8px;
  height: 10px;
}

.card--right--location_text {
  font-size: 10px;
  letter-spacing: 0.5em;
  padding-left: 4px;
}

.card--right--location_googleMap {
  font-size: 10px;
  color: #918e9b;
  text-decoration: underline;
}

.card--right--title {
  font-size: 25px;
  font-weight: bold;
}

.card--right--date {
  font-size: 10px;
}
